.copy_content {
  position: relative;
  overflow: hidden;
}

.copy_content[data-valid=false] {
  cursor: not-allowed;
}

.copy_content[data-valid=true]:hover :is(.hover_blur, .clipboard_icon) {
  display: unset;
}

.hover_blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  display: none;
}

.clipboard_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}