@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: var(--white);
    --background-shadow: var(--white-200);
    --color: var(--black-600);
    --color-soft: var(--black-900);
    --color-strong: var(--black-400);
    --heading: var(--black-100);
    --heading-soft: var(--black-400);
    --heading-sub: var(--black-500);
    --ring: var(--white-400);
    --symbol: var(--black-600);
  }

  .__two {
    --background: var(--white-100);
    --background-shadow: var(--white-300);
    --color: var(--black-500);
    --color-soft: var(--white-600);
    --color-strong: var(--black-300);
    --heading: var(--black-100);
    --heading-soft: var(--black-300);
    --heading-sub: var(--black-400);
    --ring: var(--white-200);
    --symbol: var(--black-500);
  }

  .__action {
    --background: var(--green-yellow-500);
    --background-shadow: var(--green-yellow-600);
    --color: var(--white);
    /* --color-soft: var(--); */
    /* --color-strong: var(--); */
    /* --heading: var(--black-100); */
    /* --heading-soft: var(--black-300); */
    /* --heading-sub: var(--black-400); */
    --ring: var(--green-yellow-600);
    --symbol: var(--white);
  }

  .__neutral {
    --background: var(--black);
    --background-shadow: var(--black-100);
    --color: var(--white);
    --ring: var(--black-100);
    --symbol: var(--white);
  }

  .dark {
    --background: var(--black);
    --background-shadow: var(--black-200);
    --color: var(--white-600);
    --color-soft: var(--white-900);
    --color-strong: var(--white-400);
    --heading: var(--white-100);
    --heading-soft: var(--white-400);
    --heading-sub: var(--white-500);
    --ring: var(--black-400);
    --symbol: var(--white-600);

    .__two {
      --background: var(--black-200);
      --background-shadow: var(--black-300);
      --color: var(--white-500);
      --color-soft: var(--black-700);
      --color-strong: var(--white-300);
      --heading: var(--white-100);
      --heading-soft: var(--white-300);
      --heading-sub: var(--white-400);
      --ring: var(--black-300);
      --symbol: var(--white-500);
    }

    .__neutral {
      --background: var(--white);
      --background-shadow: var(--white-100);
      --color: var(--black);
      --ring: var(--white-100);
      --symbol: var(--black);
    }
  }
}

@layer base {
  :root {
    --white: 255 255 255;
    --white-100: 247 247 247;
    --white-200: 234 234 234;
    --white-300: 221 221 221;
    --white-400: 207 207 207;
    --white-500: 194 194 194;
    --white-600: 181 181 181;
    --white-700: 168 168 168;
    --white-800: 154 154 154;
    --white-900: 141 141 141;

    --black: 0 0 0;
    --black-100: 14 14 14;
    --black-200: 28 28 28;
    --black-300: 43 43 43;
    --black-400: 57 57 57;
    --black-500: 71 71 71;
    --black-600: 85 85 85;
    --black-700: 100 100 100;
    --black-800: 114 114 114;
    --black-900: 128 128 128;

    --green-yellow-50: 249 255 228;
    --green-yellow-100: 240 255 197;
    --green-yellow-200: 223 255 147;
    --green-yellow-300: 199 255 84;
    --green-yellow-400: 173 250 29;
    --green-yellow-500: 143 225 1;
    --green-yellow-600: 109 180 0;
    --green-yellow-700: 83 136 3;
    --green-yellow-800: 67 107 9;
    --green-yellow-900: 57 90 13;
    --green-yellow-950: 28 51 0;
  }

  body {
    background-color: var(--background);
  }

  * {
    @apply border-ring
  }
}


.center-element {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
}