.copy_content {
  position: relative;
  overflow: hidden;
}

.copy_content[data-valid=false] {
  cursor: not-allowed;
}

.copy_content[data-valid=true]:hover :is(.hover_blur) {
  display: unset;
}

.copy_content[data-valid=true]:hover :is(.icon_clipboard_wrapper) {
  display: unset;
}

.hover_blur {
  position: absolute;
  inset: 0;
  /* -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px); */
  display: none;
}

.icon_clipboard_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

.icon_clipboard_container {
  border: 1px solid transparent;
  background:
    linear-gradient(135deg,
      rgb(var(--special-back-soft)),
      rgb(var(--special-back))) padding-box,
    linear-gradient(135deg,
      rgb(var(--special-back-bold)),
      rgb(var(--special-back-weak))) border-box;
}

.copy_content:active .icon_clipboard_container {
  transform: translate(1px, 1px)
}